.app{
  max-width: 1024px;
}




/* Searchbox */





.searchbox{
  position: relative;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 100%;
}

.searchbar{
  margin-inline: auto;
}

.searchbar-input{
  border: none;
  background-color: inherit;
  padding: 0.25rem 1rem;
  margin: 1rem 0.5rem;
  border-bottom: 1px solid gray;
  text-align: center;
  line-height: 1.5;

  &:focus{
    outline: none;
    border-bottom-width: 2px;
    margin-bottom: calc(1rem - 1px);
  }
}

.searchbox-cardlist{
  display: grid;
  grid-auto-flow: column;
  
  overflow-x: auto; 
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline proximity;
  scroll-padding-inline: 0.5rem;


  &::-webkit-scrollbar{
    width: 0.75rem;
    height: 0.75rem;
  }

  &::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 8rem;
  }

  &:not(:empty){
    gap: 1rem;
    padding: 0 4rem;
    scroll-padding-inline: 4rem;
  }
}

.searchbox-cardlist-item{
  cursor: pointer;
  display: flex;
  position: relative;
  width: min-content;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.scroll-button{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  width: 2.5rem;  
  height: 2.5rem;
  border-radius: 100%;
  
  position: absolute;
  top: 50%;
}

.scroll-button-left{
  left: 0;
}

.scroll-button-right{
  right: 0;
}





/* Deck */





.deck{
  width: 100%;

  & > h2{
    width: min-content;
    margin: 1rem auto;
  }
}

.deck-info{
  margin-block: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  text-align: center;
}

.deck-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--img-size-sm), max-content));
  gap: 0.5rem;
  padding: 0.5rem;
}





/* Card */





.card{
  --padding: 2rem;
  display: flex;
  position: relative;
  color: white;
}

.card-info{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0.75rem;
  width: 100%;

  & > *{
    font-size: var(--card-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-button{
  background-color: rgb(255, 136, 39);
  padding: 0.25rem;
  height: var(--padding);
  width: var(--padding);
  border-radius: 100%;
}

.card-copies{
  background-color: black;
  padding: 0.25rem;
  height: var(--padding);
  width: var(--padding);
  border-radius: 100%;
  text-align: center;
}





/* Card Details */





.card-modal-showbtn{
  cursor: pointer;
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);

  border: none;
  padding:1rem;
  background-color: lightgrey;
  border-radius: 50%;
  visibility: hidden;

  &:hover{
    opacity: 0.8;
  }
}

.searchbox-cardlist-item:hover, .card:hover{
  & > .card-modal-showbtn{
    visibility: visible;
  }
}

.card-modal[open]{
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1rem;
  gap: 1rem;
  
  background-color: var(--white-700);
  border: 1px solid grey;

  &::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.card-modal-closebtn{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.card-modal-details{
  &>*{
    margin-right: 0.5rem;
  }

  & img{
    width: 1.25em;
    vertical-align: bottom;
  }
}





/* Media Queries */





@media (min-width: 1025px){

}

@media (min-width: 769px) and (max-width: 1024px){

}

@media (min-width: 513px) and (max-width: 768px){
  
  .searchbox-cardlist::-webkit-scrollbar{
    width: 1rem;
    height: 1rem;
  }

  .card-modal[open]{
    flex-direction: column;
  }
}

@media (max-width: 512px){
  :root{
    --img-size-sm: 8rem;
  }
  
  .card{
    --padding: 1.5rem;
    --card-font-size: 14px;
  }

  .card-modal[open]{
    flex-direction: column;
  }
}
